<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="fragments/head :: head"/>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark py-0" th:fragment="header">
    <div class="container-fluid">
        <a class="navbar-brand" style="color: white">IT Prom</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8080/employee">Employee </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8080/department">Department </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8080/profession">Profession </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>